:root {
    --light1: #eeede7;
    --light2: #d5d1c4;
    --medium1: #d2b1a7;
    --medium2: #959a5a;
    --dark1: #305852;
    --dark2: #1c2823;

}
* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}


main {
    background-color: var(--light1);
    padding: 20px;
}

/* header and navbar */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    color: var(--dark1);
    background-color: var(--light2);
}
.navbar {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navbar li {
    text-align: center;
    margin: 30px;
    padding: 4px;
    border: dashed var(--dark1) 2px;
    font-size: 20px;
}
h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
}
/* links */
.navbar a:visited, a:link {
    color: var(--dark1);
    text-decoration: none;
}
.navbar a:hover {
    color: var(--medium1);
    border: solid 3px var(--medium1);
    padding: 4px;
    font-style: italic;
}


/* about me section */
.about-me {
    color: var(--dark2);
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.avatar {
    border: solid 3px var(--dark2);
    border-radius: 49%;
    background-color: var(--light1);
}
span {
    padding: 2%;
    color: var(--dark2)
}

/* main project images section */
h2 {
    color: var(--dark1);
    font-size: 32px;
}
.work {
    margin: 20px 0;
    display: flex;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 0 75%;
}
.work-card {
    border: 3px solid var(--medium2);
}
.project1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url("/Users/jessica/Bootcamp/professional-portfolio/assets/images/jessicashong.github.io_prework-study-guide_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local;
    width: 75%;
    height: 395px;
}
.project1 a {
    position: relative;
    margin-right: 5px;
}
.text-block-main {
    position: absolute;
    bottom: 30px;
    width: 200px;
    margin: 0;
    background-color: var(--medium2);
    color: var(--dark2);
}
figure {
    display: flex;
    flex-flow: column wrap;
}
.project1 img {
    width: 100%;
    display: flex;
}
.work-card:hover, .small-work-img:hover {
    color: var(--medium1);
    border: solid 3px var(--medium1);
    font-style: italic;
}
h3, p {
    background-color: var(--medium2);
    padding: 2px;
    margin: 0 5px;
}

/* small project images section */
.small-project {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
}
.small-work-card {
    position: relative;
    width: 24%;
}
.small-work-img {
    border: 3px solid var(--medium2);
    width: 100%;
    /* margin: 10px; */
}
.text-block {
    position: absolute;
    bottom: 20px;
    margin: 0px;
    width: 50%;
    background-color: var(--medium2);
    color: var(--dark2);
}



/* contact me section */
.contact-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.contact-li {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}
.contact-li:hover, a:hover {
    color: var(--medium1);
}
.contact-li a:visited, a:link{
    color: var(--dark2);
}
    



/* resume */
.resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}


/* footer */
footer {
    color: var(--dark2);
    background-color: var(--light2);
    text-align: center;
    font-size: 13px;
    margin: 0;
    padding: 8px;
}

/* media queries

992px screen size */
  @media screen and (max-width: 992px) {
    .avatar{
        width: 50%;
    }
    .project1 {
        max-height: 350px;
        background-image: url("/Users/jessica/Bootcamp/professional-portfolio/assets/images/jessicashong.github.io_prework-study-guide_.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:local;
    }
    .small-project {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 75%; 
    }
    .small-work-card{
        width: 50%;
    }
    .text-block, .text-block-main{
        display: flex;
        flex: 1 0 auto;
    }
  }

/* 767 screen size */
  @media screen and (max-width: 768px) {
    .avatar{
        width: 25%;
    }
    .project1 {
        max-height: 250px;
        background-image: url("/Users/jessica/Bootcamp/professional-portfolio/assets/images/jessicashong.github.io_prework-study-guide_.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:local;
    }
    .small-project {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 75%; 
    }
    .small-work-card{
        width: 50%;
    }
    .text-block, .text-block-main{
        display: flex;
        flex: 1 0 auto;
    }
  }