:root {
    --light1: #eeede7;
    --light2: #d5d1c4;
    --medium1: #d2b1a7;
    --medium2: #959a5a;
    --dark1: #305852;
    --dark2: #1c2823;

}
* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--light1);
    padding: 20px;
}

/* header and navbar */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    color: var(--dark1);
    background-color: var(--light2);
}
.navbar {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navbar li {
    text-align: center;
    margin: 30px;
    padding: 4px;
    border: dashed var(--dark1) 2px;
    font-size: 20px;
}
h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
}
/* links */
.navbar a:visited, a:link {
    color: var(--dark1);
    text-decoration: none;
}
.navbar a:hover {
    color: var(--medium1);
    border: solid 3px var(--medium1);
    padding: 4px;
    font-style: italic;
}


/* about me section */
.about-me {
    color: var(--dark2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    border: solid 3px var(--dark2);
    border-radius: 49%;
    background-color: var(--light1);
}
span {
    padding: 2%;
    color: var(--dark2)
}

/* main project images section */
h2 {
    color: var(--dark1);
    font-size: 32px;
}
.work {
    display: flex;
    /* flex-direction: column; */
}
.projects {
    display: flex;
    flex-direction: column;
}
.work-card {
    border: 2px solid var(--medium2);
    /* margin: 5px; */
    width: 100%;
}
.project1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.project1. a {
    position: relative;
    margin-right: 5px;
}
.text-block-main {
    position: absolute;
    bottom: -7px;
    width: 100%;
    margin: 0;
    background-color: var(--medium2);
    color: var(--dark2);
}
figure {
    display: flex;
    flex-flow: column wrap;
}
.projects img:hover {
    color: var(--medium1);
    border: solid 3px var(--medium1);
    font-style: italic;
}
h3, p {
    background-color: var(--medium2);
    padding: 2px;
    margin: 0 5px;
}

/* small project images section */
.small-project {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}
.small-work-card {
    position: relative;
    width: 20%;
    margin: 5px;
}
.small-work-img {
    border: 2px solid var(--medium2);
    width: 100%;
    /* margin: 10px; */
}
.text-block {
    position: absolute;
    bottom: 0;
    margin: 0px;
    width: 100%;
    background-color: var(--medium2);
    color: var(--dark2);
}



/* contact me section */
.contact-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-li {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}
/* .contact-ul {
    display: flex; */
    /* padding: 25px; */
    



/* resume */
.resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* footer */
footer {
    color: var(--dark2);
    background-color: var(--light2);
    text-align: center;
    font-size: 13px;
    margin: 0;
    padding: 8px;
}

/* media queries */

@media screen {
    
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
/* @media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  } */
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    .small-work-card {
        max-width: 40%;
        flex-wrap: wrap;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  /* @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
   */